#root {
  width: 100%;
  height: 100%;
}

.sign {
  width: 100%;
  height: 100%;
  background: #36416a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feed {
  width: 72%;
  position: absolute;
  bottom: 77%;
}

.feed p:first-of-type {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.signup {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.25);
  color: black;
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signup img {
  scale: 0.7;
}

.signup input {
  border: none;
  border-bottom: 1px solid #aaa;
  margin: 0.6rem;
  padding: 0.25rem;
  font-size: 1rem;
}

.signup input:focus {
  padding: 0.35rem;
  font-size: 1.025rem;
}

.signup button {
  padding: 0.3rem 2.5rem;
  border-radius: 14.479px;
  background: #36416a;
  color: #fff;
  border: none;
  margin: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
}

.signup p {
  margin-top: 0.25rem;
  font-size: 0.9rem;
}
