.FeedbackSection .banner {
  width: 20%;
  background: #36416a;
  height: 8rem;
  border-radius: 14px;
  position: relative;
  left: 5%;
  bottom: 10rem;
}

.banner p {
  color: #fff;
  position: relative;
  left: 10%;
  top: 30%;
  font-size: 1.05rem;
}

.banner p:first-of-type {
  font-size: 2rem;
}

.FeedbackSection .suggestions {
  width: 68%;
  display: flex;
  gap: 3.5rem;
  border: 3px solid rgba(54, 65, 106, 0.35);
  border-radius: 5px;
  position: relative;
  left: 27%;
  bottom: 18rem;
  padding: 1rem;
  align-items: center;
}

.FeedbackSection .suggestions button {
  position: absolute;
  left: 80%;
  width: 14%;
  background: #36416a;
  border-radius: 7px;
  color: #fff;
  font-size: 1rem;
  padding: 0.3rem;
  border: none;
}

/* @media screen and (max-width: 1320px) {
  .FeedbackSection .suggestions button {
    left: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .FeedbackSection .suggestions button {
    left: 30%;
  }
} */

.FeedbackSection .suggestions button:hover {
  background: #fff;
  color: #36416a;
  border-color: rgba(54, 65, 106, 0.35);
  border: 1px solid #36416a;
  cursor: pointer;
}

.suggestions p {
  font-weight: 600;
  font-size: 1.05rem;
}

.suggestions p span {
  cursor: pointer;
}

.FeedbackSection .choiceCard {
  background: #ffffff;
  box-shadow: 0px 0px 17.5051px rgba(0, 0, 0, 0.15);
  border-radius: 11.3783px;
  width: 16%;
  height: fit-content;
  position: relative;
  left: 5%;
  bottom: 12rem;
  padding: 2%;
}

.choiceCard button {
  background: rgba(54, 65, 106, 0.15);
  border-radius: 25.0428px;
  padding: 0.7rem 1.8rem;
  margin: 0.5rem;
  border: none;
}

.choiceCard button:hover {
  cursor: pointer;
}

.choiceCard .selected {
  background-color: #36416a;
  color: #fff
}
