.FeedbackSection {
  height: 0;
}

.FeedbackSection .banner {
  width: 20%;
  background: #36416a;
  height: 8rem;
  border-radius: 14px;
  position: relative;
  left: 5%;
  bottom: 10rem;
}

.banner p {
  color: #fff;
  position: relative;
  left: 10%;
  top: 30%;
  font-size: 1.05rem;
}

.banner p:first-of-type {
  font-size: 2rem;
}

.FeedbackSection .suggestions {
  width: 68%;
  display: flex;
  gap: 3.5rem;
  border: 3px solid rgba(54, 65, 106, 0.35);
  border-radius: 5px;
  position: relative;
  left: 27%;
  bottom: 18rem;
  padding: 1rem;
  align-items: center;
}

.FeedbackSection .suggestions button {
  position: absolute;
  left: 80%;
  width: 14%;
  background: #36416a;
  border-radius: 7px;
  color: #fff;
  font-size: 1rem;
  padding: 0.3rem;
  border: none;
}

/* @media screen and (max-width: 1320px) {
  .FeedbackSection .suggestions button {
    left: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .FeedbackSection .suggestions button {
    left: 30%;
  }
} */

.FeedbackSection .suggestions button:hover {
  background: #fff;
  color: #36416a;
  border-color: rgba(54, 65, 106, 0.35);
  border: 1px solid #36416a;
  cursor: pointer;
}

.suggestions p {
  font-weight: 600;
  font-size: 1.05rem;
}

.suggestions p span {
  cursor: pointer;
}

.FeedbackSection .choiceCard {
  background: #ffffff;
  box-shadow: 0px 0px 17.5051px rgba(0, 0, 0, 0.15);
  border-radius: 11.3783px;
  width: 16%;
  height: fit-content;
  position: relative;
  left: 5%;
  bottom: 12rem;
  padding: 2%;
}

.choiceCard button {
  background: rgba(54, 65, 106, 0.15);
  border-radius: 25.0428px;
  padding: 0.7rem 1.8rem;
  margin: 0.5rem;
  border: none;
}

.choiceCard button:hover {
  cursor: pointer;
}

.choiceCard .selected {
  background-color: #36416a;
  color: #fff;
}

.modal {
  position: absolute;
  top: 20%;
  left: 25%;
  background: #36416a;
  width: 50%;
  height: 55%;
  display: flex;
  flex-direction: row;
}

.formModal {
  width: 60%;
  background: #fff;
  height: 100%;
}

.displayModal {
  width: 40%;
  background: #36416a;
  height: 100%;
}

.displayModal p:first-of-type {
  font-size: 2.2rem;
  color: #fff;
}

.displayModal p:nth-of-type(2) {
  color: #fff;
  font-size: 1.1rem;
  width: 40%;
}

.displayModal p {
  position: relative;
  top: 10%;
  left: 10%;
}

.signUpForm {
  position: relative;
  top: 15%;
  left: 15%;
}

.signUpForm form div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
}

.signUpForm form img {
  scale: 0.55;
}

.signUpForm p:first-child {
  color: #000;
  font-size: 1.65rem;
  font-weight: 700;
}

.signUpForm input {
  font-size: 0.9rem;
  padding: 0.2rem;
  width: 50%;
  border: none;
  border-bottom: 2px solid #aaa;
}

.signUpForm form button[type="submit"] {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 27.907px;
  background: #36416a;
  color: #fff;
  border: none;
  position: relative;
  top: 1rem;
}

.signUpForm form button[type="submit"]:hover {
  background-color: #111626;
  cursor: pointer;
}

.addProducts input {
  margin: 0.70rem;
}
 
.signUpForm .addProducts button[type="submit"] {
  position: relative;
  right: 55%;
  top: 3.5rem;
}